@model ManageRolesViewModel
@using IssueTracker.MVC.ViewModels.Admin;
@using IssueTracker.MVC.Enums;
@inject Microsoft.AspNetCore.Identity.UserManager<Personnel> UserManager
    @{
    ViewData["Title"] = "ManageRoles";
    }
    <div style="padding-left:2%">
        <h1>Manage User Roles</h1>
        <div class="flex-container-h">

            <div style="width:30%; padding-right:5%">
                <form asp-action="ManageRoles">
                    
                    <label><h4>Select 1 or More Users</h4></label>
                    <select multiple="multiple" class="form-control" asp-for="PersonnelIdsToChange"
                        asp-items="Model.Personnel"> 
                        <option>
                            <--Select-->
                        </option>
                    </select>
                    <hr />
                    
                    <label><h4>Select the Role to assign</h4></label>
                        <!--
                                                <select asp-for="roleId" 
                        asp-items="Html.GetEnumSelectList<Roles>()">
                        <option>--Select Role/None--</option>
                    </select>
                        -->

                        <select class="form-control" asp-for="roleId"
                        asp-items="Html.GetEnumSelectList<Roles>()"></select>                        
                    <hr />
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
            <div style="width:60%">
                @{
                    List<Personnel> AllPersonnel = UserManager.Users.ToList();
                    await Html.RenderPartialAsync("PartialViews/_AllPersonnel", AllPersonnel);
                    }

            </div>
        </div>
    </div>