@model IEnumerable<Project>
@using IssueTracker.MVC.Models;
@inject Microsoft.AspNetCore.Identity.UserManager<Personnel> UserManager
@inject Microsoft.AspNetCore.Identity.RoleManager<Microsoft.AspNetCore.Identity.IdentityRole> RoleManager
@{
    ViewData["Title"] = "ManageProjectUsers";
}

@{ 
    var Projects = Model.ToList();
    var Project = Projects.FirstOrDefault();
}
<div>
    <h4>1) Select 1 or more Projects</h4>
    <select multiple="multiple"
            asp-for="@Model.FirstOrDefault().Id"
            asp-items="@(new SelectList(Model.ToList(),"Id","Name"))">
    </select>

    <hr />

    <h4>2) Select Users for the Project/s, no selection will remove Users from the selected Project/s</h4>

</div>

