@using Microsoft.AspNetCore.Identity
@using IssueTracker.MVC.Data.Enums
@inject UserManager<Personnel> UserManager


<style>
    div.role-icon {
        @{
            var user = await UserManager.GetUserAsync(User);
            var role = await UserManager.GetRolesAsync(user);           
            var icon = "";
            string roleName = role[0];
            if (roleName == Roles.Admin.ToString())
            {
                icon = "/images/Avatars2/64x64/administrator_user.png";
            }
            else if (roleName == Roles.ProjectManager.ToString())
            {
                icon = "/images/Avatars2/64x64/project_manager_user.png";
            }
            else if (roleName == Roles.Developer.ToString())
            {
                icon = "/images/Avatars2/64x64/developer_user.png";
            }
            else
            {
                icon = "/images/Avatars2/64x64/submitter_user.png";
            }

        }
        
        

        background-image:url(@icon)
    }
</style>
<div class="sidebar-top">
    <div class="loggedIn">        
    </div>

    <div class="role-icon"></div>
    <div class="welcome-msg">
        <span>Welcome,</span>
        <h6>@UserManager.GetUserName(User)</h6>
        
    </div>
</div>
<div class="sidebar-bottom">
    <ul class="sidebar-nav-list">
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <i class="material-icons">dashboard</i>
                <span class="sidebar-link"> Dashboard Home </span>
            </a>
        </li>
        <li>
            <a asp-area="" asp-controller="Admin" asp-action="ManageRoles">
                <i class="material-icons">group_add</i>
                <span class="sidebar-link"> Manage Role Assignment </span>
            </a>
        </li>
        <li>
            <a asp-area="" asp-controller="Admin" asp-action="ManageProjectUsers">
                <i class="material-icons">group</i>
                <span class="sidebar-link"> Manage Project Users </span>
            </a>
        </li>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="#">
                <i class="material-icons">list</i>
                <span class="sidebar-link"> Ticket History Index </span>
            </a>
        </li>

        <li>
            <a asp-area="" asp-controller="Projects" asp-action="Index">
                <i class="material-icons">reorder</i>
                <span class="sidebar-link"> My Projects </span>
            </a>
        </li>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="#">
                <i class="material-icons">view_list</i>
                <span class="sidebar-link"> My Tickets </span>
            </a>
        </li>
        <li>
            <a asp-controller="Manage" asp-action="Index">
                <i class="material-icons">person</i>
                <span class="nav-label"> User Profile </span>
            </a>
        </li>
    </ul>
</div>


<!--
<div id="sidebar">
        <div class="row no-gutters" style="vertical-align:central; padding-top:2em">
            <div class="col-5">
                <img id="avatarImg" class="rounded-circle" src="~/images/Avatars/Admin.svg">
            </div>
            <div class="col text-center text-uppercase" id="welcome-section">
                <span>Welcome,</span>
                <h6 class="text-center no-gutters" style="line-height:32px">
                    @UserManager.GetUserName(User)
                </h6>
            </div>
        </div>
        <hr />


    <div id="sidebar-wrapper">

        <ul class="sidebar-nav">
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="material-icons">dashboard</i>
                    <span class="nav-label"> Dashboard Home </span>
                </a>
            </li>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="#">
                    <i class="material-icons">group_add</i>
                    <span class="nav-label"> Manage Role Assignment </span>
                </a>
            </li>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="#">
                    <i class="material-icons">group</i>
                    <span class="nav-label"> Manage Project Users </span>
                </a>
            </li>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="#">
                    <i class="material-icons">list</i>
                    <span class="nav-label"> Ticket History Index </span>
                </a>
            </li>

            <li>
                <a asp-area="" asp-controller="Projects" asp-action="Index">
                    <i class="material-icons">reorder</i>
                    <span class="nav-label"> My Projects </span>
                </a>
            </li>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="#">
                    <i class="material-icons">view_list</i>
                    <span class="nav-label"> My Tickets </span>
                </a>
            </li>
            <li>
                <a asp-controller="Manage" asp-action="Index">
                    <i class="material-icons">person</i>
                    <span class="nav-label"> User Profile </span>
                </a>
            </li>
        </ul>
    </div>
</div>
-->
