@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager



<nav class="header navbar navbar-expand-sm navbar-light  border-bottom shadow mb-3 rounded-bottom">
    <div class="container">
        <a class="navbar-brand" href="#">Logged In As: <span>@UserManager.GetUserName(User)</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li><p></p></li>
            </ul>
            <hr />
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link text-black-50" href="#">
                        Notifications
                        <span class="material-icons">notifications</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-black-50" data-toggle="dropdown" href="#">
                        User Actions
                        <span class="material-icons">person</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item text-black-50" asp-controller="Manage" asp-action="Index" title="Manage">Profile</a>
                        <a class="dropdown-item text-black-50" href="javascript: submitform()">Log Out</a>
                        <form name="logoutForm" class="form-inline my-2 my-lg-0" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm"></form>
                    </div>
                </li>                
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <form class="form-inline my-2 my-md-0"> </form>
        </div>
    </div>
</nav>


<script type="text/javascript">
    function submitform() {
        document.logoutForm.submit();
    }
</script>