@model IssueTracker.MVC.ViewModels.Projects.ProjectTicketsViewModel
@using Microsoft.EntityFrameworkCore;
@inject Microsoft.AspNetCore.Identity.UserManager<Personnel> UserManager;
@inject IssueTracker.MVC.Data.ApplicationDbContext DBContext;
    <div class="card">
        <div class="card-header">
            <h2>Issues for this project</h2>
            <p>Condensed Issue Details</p>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th><label asp-for="Tickets.FirstOrDefault().Title"></label></th>
                        <th>Author</th>
                        <th>Developer</th>

                        <th><label asp-for="Tickets.FirstOrDefault().PostDate"></label></th>
                    </tr>
                </thead>
                <tbody>
                    @{List<Ticket> tickets = new List<Ticket>();}
                    @foreach (var item in ViewBag.Tickets)
                    {
                        tickets.Add(item);                    
                    }

                   
                    @foreach (var item in tickets)
                    {
                        
                        /*At the moment, the 'TicketUsers[]' gets completely wiped, since it's not stored in the DB under 'Tickets'. 
                        It is however stored under 'TicketUsers'*/
                        string AuthorUserName = UserManager.FindByIdAsync(item.AuthorId).Result.UserName;
                        string DeveloperUserName = "";
                        if(item.TicketUsers.Count > 1)
                        {
                            DeveloperUserName = item.TicketUsers[1].Personnel.UserName;
                        }
                        else
                        {
                            DeveloperUserName = "Unassigned";
                        }
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelitem=> item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => AuthorUserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => DeveloperUserName)
                                </td>                                
                                <td>
                                    @Html.DisplayFor(modelItem=> item.PostDate)
                                </td>
                                <td>
                                    <a asp-action="Discussion" asp-route-id="item.IssueId">
                                        <span>More Details</span>
                                    </a>                                </td>
                            </tr>
                        }
                       
                </tbody>
            </table>
        </div>
    </div>