@model IssueTracker.MVC.ViewModels.ProjectViewModel
@using IssueTracker.MVC.Models;
@inject Microsoft.AspNetCore.Identity.UserManager<Personnel> UserManager
@inject IssueTracker.MVC.Services.Interfaces.IProjectPersonnelService Personnel
<div class="card">
    <div class="card-header">
        <h2>
            Manage Project Users for: @Html.DisplayFor(model => model.Project.Name)
        </h2>
    </div>
    <div class="card-body">
        <form asp-controller="Projects" asp-action="AddPersonnelToProject" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>

        <form asp-action="AddPersonnelToProject">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Project.Id" />
            <input type="hidden" asp-for="Project.Name" />
            <input type="hidden" asp-for="Project.Description" />
            @{ 
                Model.Personnels = await Personnel.GetAll();
            }
            <select asp-for="Project.ProjectUsers"
                    asp-items="@(new SelectList(Model.Personnels))">
                <option>--Select--</option>
            </select>

            <br /><input type="submit" value="Create" class="btn btn-primary" />
        </form>

    </div>
</div>

