@model IssueTracker.MVC.Models.IssueModel 
@{ ViewData["Title"] = "Details"; }

<div id="pageContainer" class="container-fluid">    
        <partial name="PartialViews/_IssueHeader" /> <!--Partial Header-->    
    <div>
        <div>
            @Model.AuthorUserName commented @Model.PostDate
        </div>
        <div>
            @Model.Comment
        </div>
    </div>
</div>
