@model IssueTracker.MVC.Models.Issue 
@{ ViewData["Title"] = "Details"; }

<div id="pageContainer" class="container-fluid">    
        <partial name="PartialViews/_IssueHeader" /> <!--Partial Header-->    
        <partial name="PartialViews/_IssueContext"/>
</div>
