@{
    ViewData["Title"] = "Home Page";
}

<table>
    <thead>
        <tr>
            <th>Row 1</th>
            <th>Row 2</th>
            <th>Row 3</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Row 1</th>
            <td>Cell 1</td>
            <td>Cell 2</td>
            <td>Cell 3</td>
        </tr>
        <tr>
            <th>Row 2</th>
            <td>Cell 1</td>
            <td>Cell 2</td>
            <td>Cell 3</td>
        </tr>
        <tr>
            <th>Row 3</th>
            <td>Cell 1</td>
            <td>Cell 2</td>
            <td>Cell 3</td>
        </tr>
    </tbody>
</table>
