@page
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/signin.css" />
<link rel="stylesheet" href="~/css/Main.css" />
@{
    ViewData["Title"] = "Demo User Login";
    Layout = null;
}


<title>@ViewData["Title"]</title>

<body class="text-center">
    <div id="i4c-draggable-container" style="position: fixed; z-index: 1499; width: 0px; height: 0px;"><div data-reactroot="" class="resolved" style="all: initial;"></div></div>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <span class="login100-form-title">
                    <img class="mb-4" src="~/images/logo.png" alt="" width="72" height="72">
                    Please sign in
                </span>

                <div class="container">
                    <form id="frmDemo" action="/Account/DemoUser">
                        <div class="form-group row">
                            <div class="col-sm">
                                <button onclick="SubmitDemo('DemoAdmin@gmail.com')">
                                    <img src="~/images/Avatars/Admin.svg" style="height:100px">
                                    <br />
                                    Admin
                                </button>
                            </div>
                            <div class="col-sm">
                                <button onclick="SubmitDemo('DemoPM@gmail.com')">
                                    <img src="~/images/Avatars/ProjectManager.svg" style="height:100px">
                                    <br />
                                    Project Manager
                                </button>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm">
                                <button onclick="SubmitDemo('DemoDev@gmail.com')">
                                    <img src="~/images/Avatars/Developer.svg" style="height:100px">
                                    <br />
                                    Developer
                                </button>
                            </div>
                            <div class="col-sm">
                                <button onclick="SubmitDemo('DemoSubmitterThis se@gmail.com')">
                                    <img src="~/images/Avatars/Submitter.svg" style="height:100px">
                                    <br />
                                    Submitter
                                </button>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>



    <div id="i4c-dialogs-container"></div>

</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>
    function SubmitDemo(e) {
        $('#DemoEmail').val(e);
        $('#frmDemo').submit();
    }
</script>

<!--

<div class="limiter">
       <div class="container-login100">
           <div class="wrap-login100 p-1-55 p-r-55 p-t-65 p-b-50">
               <span class="login100-form-title p-b-33">
                   <i class="fa fa-bug"></i>
                   <img class="mb-4" src="~/images/logo.png" alt="" width="72" height="72">
                   Please Login
               </span>
               <form id="frmDemo" class="form-horizontal" action="/Account.Demo_Login" method="post">
                   <div class="row">
                       <div class="col text-md-center">
                           <button onclick="SubmitDemo('DemoAdmin@gmail.com')">
                               <img src="~/images/admin_white.png" style="height:100px">
                               <br />
                               Admin
                           </button>
                       </div>
                       <div class="col text-md-center">
                           <button onclick="SubmitDemo('DemoPMCF@gmail.com')">
                               <img src="~/images/project_manager_white.png" style="height:100px">
                               <br />
                               Project Manager
                           </button>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col text-md-center">
                           <button onclick="SubmitDemo('DemoDevCF@gmail.com')">
                               <img src="~/images/developer_white.png" style="height:100px">
                               <br />
                               Developer
                           </button>
                       </div>
                       <div class="col text-md-center">
                           <button onclick="SubmitDemo('DemoSubmitterCF@gmail.com')">
                               <img src="~/images/submitter_white.png" style="height:100px">
                               <br />
                               Submitter
                           </button>
                       </div>
                   </div>
               </form>
               <div class="text-center p-t-45 p-b-4">
                   <span class="txt1">Have an account?</span>
                   <a class="txt2 hov1">
                       <u></u>
                   </a>
                   <u>
                       <a href="/">Sign In</a>
                   </u>
               </div>
           </div>
       </div>
    </div>

-->
