@model IssueTracker.MVC.ViewModels.ProjectViewModel
@{
    ViewData["Title"] = "ManageUsers";
}

<div class="container">
    <div class="row">
        <div class="col">
            <partial name="PartialViews/_ManageProjectUsers" />
        </div>
        <div class="col">
            <partial name="PartialViews/_CurrentPersonnelOnProject"/>
        </div>
    </div>
</div>

<h2>ManageUsers</h2>

