@model IssueTracker.MVC.Models.IssueModel


<div class="row">
    <div class="col-sm">

        <h1 style="font-size: 32px">
            <span>@Html.DisplayFor(m => m.Title)</span> 
            <span style="color:grey">#@Html.DisplayFor(m => m.IssueId)</span>
        </h1>
    </div>

    <div class="d-flex flex-column flex-md-row">
        <div class="mt-0 mt-md-2 mb-3 mb-md-0  flex-shrink-0 d-flex" style="align-items:flex-start">            
            <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@Html.DisplayFor(m => m.IssueId)" style="font-size:12px">Edit</a>
            <a class="btn btn-sm btn-primary" asp-action="Create" style="font-size:12px">New Issue</a>
        </div>
        
    </div>
</div>
<div class="d-flex mt-0 " style="align-items:center; margin-right:8px">
    <div class="flex-shrink-0">
        <span title="Status: Open" class="State State--green">
            <svg height="16" class="octicon octicon-issue-opened" viewBox="0 0 16 16" version="1.1" width="16" aria-hidden="true">
                <path fill-rule="evenodd" d="M8 1.5a6.5 6.5 0 100 13 6.5 6.5 0 000-13zM0 8a8 8 0 1116 0A8 8 0 010 8zm9 3a1 1 0 11-2 0 1 1 0 012 0zm-.25-6.25a.75.75 0 00-1.5 0v3.5a.75.75 0 001.5 0v-3.5z"></path>
            </svg>
            Open
        </span>
    </div>
    <div class="col-sm">@Html.DisplayFor(m => m.AuthorUserName) opened this issue @Html.DisplayFor(m => m.PostDate)</div>
</div>

<!--
<div class="d-flex flex-column flex-md-row">
      <div class="gh-header-actions mt-0 mt-md-2 mb-3 mb-md-0 ml-0 flex-md-order-1 flex-shrink-0 d-flex flex-items-start">
          <button type="button" class="btn btn-sm js-details-target d-inline-block float-none m-0 mr-md-0" aria-expanded="false" aria-label="Edit Issue title" data-ga-click="Issues, edit issue, view:issue_show location:issue_header style:button logged_in:true">Edit</button>


            <a href="/MJDeveloping/UserManagement.MVC/issues/new/choose" class="btn btn-sm btn-primary m-0 ml-2 ml-md-2" data-hotkey="c" data-ga-click="Issues, create new issue, view:issue_show location:issue_header style:button logged_in:true" data-skip-pjax="">
              New issue
            </a>
        <div class="flex-auto text-right d-block d-md-none">
          <a href="#issue-comment-box" class="py-1">Jump to bottom</a>
        </div>
      </div>

    <h1 class="gh-header-title mb-2 lh-condensed f1 mr-0 flex-auto break-word">
      <span class="js-issue-title">
        Test
      </span>
      <span class="f1-light text-gray-light">#1</span>
    </h1>
    </div>-->
